---
// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/

import './globals.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
        <title>Easybank</title>
	</head>
	<body>
		<slot />
	</body>
</html>
