@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* desktop resolution: 1440px */
:root { 
    --primary-dark-blue: hsl(233, 26%, 24%);
    --primary-lime-green: hsl(136, 65%, 51%);
    --primary-bright-cyan: hsl(192, 70%, 51%);

    --neutral-grayish-blue: hsl(233, 8%, 62%);
    --neutral-light-grayish-blue: hsl(220, 16%, 96%);
    --neutral-very-light-gray: hsl(0, 0%, 98%);
    --neutral-white: hsl(0, 0%, 100%);
}

body { 
    font-size: 18px;
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; 300, 400, 700 */
    color: var(--neutral-grayish-blue);
    background-color: var(--neutral-very-light-gray);
    max-width: 100vw;
    overflow-x: hidden;
    padding-bottom: 32px;
}










@media screen and (max-width: 375px) {
    
}